<div class="appinall__wrapper">
	<div class="appinall__logo"><a id="appinall__homepage" href="https://appinall.com/" target="_blank">A</a></div>
	<div class="appinall__btns"><a id="appinall__assistant" href="#">Assistant</a></div>
	<iframe id="appinall__assistant__frame" src="https://appinall.com/web-version/mylist" height="40%" width="99%" style="display: none; border:medium solid cyan"></iframe>
</div>